* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html, body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100%;
    background-color: rgb(8, 8, 39);

}


#calcContainer {
    display:flex;
    flex-direction: column;
    box-shadow: 10px 10px 50px;
    background-color:rgb(16, 19, 44);
    border-radius: 50px;
    width: 30rem;
    height:40rem;
}


#digitContainer {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    max-width: fit-content;
    max-height: fit-content;
    margin: 2em;
    
    
}

#menu {
    display:flex;
    flex:1 0 auto;
    flex-direction: column;
}

#innerContainer {
    display:flex;
    flex:1 1 auto;
}

#display {
    flex: 0 auto;
    padding: 10px;
    border-radius: 50px 50px 0px 0px;
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    padding-top: 10%;
    font-size:3em;
    border-bottom: solid 10px rgb(219, 37, 37);
}

.digit {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:6px;
    width: 80px;
    height: 80px;
    background-color: rgba(8, 235, 243, 0);
    box-shadow: inset 0px 0px 10px rgba(210, 216, 216, 0.753);
    border-radius: 30%;
    border:solid 4px;
    color: rgb(255, 255, 255);
    font-size: 3em;
}

.operator {
    flex:1 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 73, 73);
    color: white;
    border-bottom: solid 4px;
    font-size: 3em;
}

.equals {
    border-radius: 0px 0px 15px;
    border-bottom: solid 0px;
}

.previousCalc{
    font-size: 2rem;
}

